kind: PersistentVolume
apiVersion: v1
metadata:
  name: server-dev-volume
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: standard
  hostPath:
    {{- with .Values.persistence }}
    path: {{ .localPath -}}
    {{- end }}