kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: server-dev-volume-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
  volumeName: server-dev-volume